 RewriteEngine On
 RewriteCond %{HTTP_HOST} ^mail\.itvolga\.com$ [NC]
 RewriteRule ^(.*) https://webmail.migadu.com/$1 [L,R]
 RewriteCond %{HTTP_HOST} ^mails\.itvolga\.com$ [NC]
 RewriteRule ^(.*) https://webmail.migadu.com/$1 [L,R]
 RewriteCond %{HTTP_HOST} ^admin\.itvolga\.com$ [NC]
 RewriteRule ^(.*) https://admin.migadu.com/domains/112383/$1 [L,R]
 RewriteCond %{HTTP_HOST} ^admin\.sergeyem\.ru$ [NC]
 RewriteRule ^(.*) https://admin.migadu.com/domains/112602/$1 [L,R]
 RewriteCond %{HTTP_HOST} ^mail\.sergeyem\.ru$ [NC]
 RewriteRule ^(.*) https://webmail.migadu.com/$1 [L,R]
